body {
  background-color: black;
  color: white;
}
h2 {
  background-color: white;
  color: black;
}
table {
  background-color: white;
  color: black;
  border-collapse: collapse;
  border-left: none;
  border-bottom: none;
  border-left: solid 2px red;
  border-bottom: solid 2px green;
}
